@using BlogProject.Models
@using BlogProject.Services
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

@*<section id="blog" class="blog">

    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-4 entries">

                <article class="entry">


                    @foreach (var blog in Model)
                    {
                        <div class="entry-img">
                            <img src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <p href="blog-single.html">@blog.Name</p>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <a>
                                        <img class="rounded-circle" style="width: 25px; height: 25px;" src="~/images/defaultUserImage.png" alt="">
                                        Authored By @blog.BlogUser.FullName
                                    </a>
                                </li>

                                <li class="d-flex align-items-center">
                                    <hr>
                                    <p class="text-muted ml-2" href="">On @blog.Created.ToString("MMM dd, yyyy")</p>
                                </li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>@blog.Description</p>
                            <div class="">
                                <a asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    }

                </article>

            </div>
        </div>
    </div>
</section>
*@
<div class="container">
    <div class="row gy-4 posts-list">
        @foreach (var blog in Model)
        {
            <div class="col-xl-4 col-md-6">
                <article>

                    <div class="post-img">
                        <img src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">@blog.Name</p>

                    <h2 class="title">
                        <a asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">@blog.Description</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="@_imageService.DecodeImage(blog.BlogUser.ImageData, blog.BlogUser.ContentType)" alt="" class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                            <p class="post-author-list">@blog.BlogUser.FullName</p>
                            <p class="post-date">
                                <time>On @blog.Created.ToString("MMM dd, yyyy")</time>
                            </p>
                        </div>
                    </div>


                </article>
            </div>

            <!-- End post list item -->
        }
    </div><!-- End blog posts list -->

</div>

<!--Add Paging Controls Here-->
<div class="row mt-5">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of (@Model.PageCount)
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
        new PagedListRenderOptionsBase {
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}
        })
    </div>
</div>