@using BlogProject.Models
@using BlogProject.Services
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject IImageService _imageService
@inject UserManager<BlogUser> _userManager

@model IPagedList<Blog>

@{
    ViewData["Title"] = "Home Page";
}

<section id="blog" class="blog">

    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-4 entries">

                <article class="entry">


                    @foreach (var blog in Model)
                    {
                        <div class="entry-img">
                            <img src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <p href="blog-single.html">@blog.Name</p>
                        </h2>

                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center">
                                    <a href="blog-single.html">
                                        <img class="rounded-circle" style="width: 25px; height: 25px;" src="~/images/defaultUserImage.png" alt="">
                                        Authored By @blog.BlogUser.FullName
                                    </a>
                                </li>
                               
                                <li class="d-flex align-items-center">
                                    <hr>
                                    <p class="text-muted ml-2" href="">On @blog.Created.ToString("MMM dd, yyyy")</p>
                                </li>
                            </ul>
                        </div>

                        <div class="entry-content">
                            <p>@blog.Description</p>
                            <div class="read-more">
                                <a class="" asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    }

                </article>
                <!-- End blog entry -->
            </div>
        </div>
    </div>
</section><!-- End Blog Section -->
<!--Add Paging Controls Here-->
<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of (@Model.PageCount)
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
        new PagedListRenderOptionsBase {
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}
        })
    </div>
</div>