@using BlogProject.Services
@using BlogProject.Models
@using Microsoft.AspNetCore.Identity
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@inject UserManager<BlogUser> userManager
@inject IImageService imageService
@model IPagedList<Post>

@{
    ViewData["Title"] = "Index";
}

@*<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
            <div class="card border-dark">
                <div class="bg">
                    <div class="card-body text-center">

                        <h5 class="card-title">@post.Title</h5>

                    </div>
                    <div>
                        <p class="card-text text-center">@post.Abstract</p>
                    </div>
                    <div class="text-center">

                        <a class="btn btn-dark btn-sm btn-block mb-2" asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">Read More</a>
                    </div>

                </div>
                <img class="card-img-bottom img-fliud" src="@imageService.DecodeImage(post.ImageData,  post.ContentType)" />
            </div>

        </div>
    }
</div>*@


<div class="container">
    <div class="row gy-4 posts-list">
        @foreach (var post in Model)
        {
            <div class="col-xl-4 col-md-6">
                <article>
                    <div class="post-img">
                        <img src="@imageService.DecodeImage(post.ImageData, post.ContentType)" alt="" class="img-fluid">
                       
                      @*  <h2 class="title">
                            <a asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">Read More</a>
                        </h2>*@
                    
                    </div>
                    <p class="card-text text-center">@post.Abstract</p>
                    <h2 class="title">
                        <a class="" asp-action="Details" asp-controller="Posts" asp-route-slug="@post.Slug">Read More</a>
                    </h2>
                </article>
            </div>
        }
    </div>
</div>

@*
<div class="container">
    <div class="row gy-4 posts-list">
        @foreach (var blog in Model)
        {
            <div class="col-xl-4 col-md-6">
                <article>

                    <div class="post-img">
                        <img src="@_imageService.DecodeImage(blog.ImageData, blog.ContentType)" alt="" class="img-fluid">
                    </div>

                    <p class="post-category">@blog.Name</p>

                    <h2 class="title">
                        <a asp-action="BlogPostIndex" asp-controller="Posts" asp-route-id="@blog.Id">@blog.Description</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="@_imageService.DecodeImage(blog.BlogUser.ImageData, blog.BlogUser.ContentType)" alt="" class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                            <p class="post-author-list">@blog.BlogUser.FullName</p>
                            <p class="post-date">
                                <time>On @blog.Created.ToString("MMM dd, yyyy")</time>
                            </p>
                        </div>
                    </div>


                </article>
            </div>


        }
    </div

</div>*@





<hr />

<div class="row">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>
<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("SearchIndex", new { page = page, searchTerm = ViewData["SearchTerm"] }),
        new PagedListRenderOptionsBase
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
        })
    </div>
</div>

